@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: "Poppins", sans-serif;
}
body{
    content: "";
    background: url(simple-blue-white-background-with-text-space.jpg);
    background-size: cover;
    z-index: -1;
}
h1{
    font-size: 3.5rem;
    color: #3d84a8;
    padding: 5vw 0 0 0;
}
h2{
    color: #3d84a8;
    margin-bottom: 2rem;
}
.sources-Content{
    display: flex;
    justify-content: space-between;
    padding: 5vw 5vw;
}
.box{
    width: 30%;
    margin-right: 1rem;
    margin-left: 1rem;
    border: 2px solid rgb(28,179,179);
    border-radius: 15px;
    box-shadow: 0px 0px 10px 5px #4e4c4c;
    padding: 40px;
    transition: 1s;
}
.box a{
    text-decoration: none;
    font-size: 1.1rem;
    line-height: 2;
    color: rgb(66, 64, 64);
}
.content li{
    width: auto;
    text-align: center;
    list-style-type:none;
    padding: 7px;
    position: relative;
  }
  .content li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #3d84a8;
    transition-duration: .5s;
  }
  .box:hover{
    transform: scale(1.1);
  }
  .content li:hover::before{
    width: 150px;
  }